<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor saepe quas perferendis doloremque cum voluptas possimus reprehenderit reiciendis quidem quasi at iusto inventore voluptatem est voluptate, optio nemo animi nobis repudiandae nihil quos corrupti tenetur. Animi nisi eum et necessitatibus.</p>
    </div>
</div>