<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi neque odio eius atque esse quam aperiam, at ullam, distinctio optio vero cum ea vitae culpa rerum, porro corporis quae perferendis.</p>
    <a href="http://www.google.com" class="btn btn-primary btn-lg">Button Test</a>
</div>